<section id="business" class="banner-section" style="padding-top: 210px;">
    <div class="overlay"></div>
    <div class="bussiness-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <div class="banner-details">
                        <h2 >About Us</h2>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

<section class="about" style="border-bottom: 1px solid #eaeaea;">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="row content">
            <div class="col-md-12 col-lg-12 text-center ">
                <div class="section-title">
                    <h2 class="loginHeading">About Us</h2>
                    <p>We are a young team of IT professionals dedicated to the photo print industry. Our love affair with the photo industry began in 2005 & since then the industry has been kind enough to guide us & help us grow.
                        Mobiebook is not a replacement for a printed photo book or to compete with printers, but we are here to complement them. 
                        <br><br>
                        We truly believe Memories are best enjoyed when they are printed. In fact I printed 4 wedding albums for myself and that too from different countries - Australia & USA.

                        We want to empower the professional photographer with tools which will help in earn more business & get maximum recognition for each photo they click or for the long hours they put on editing.
                        
                    <br><br>
                    Photography connects us all & we would like to do our best to help it grow more.

                    We hope you love our solutions & together we can take the Photo Industry to greater heights.
                    
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>