<div class="top-header-new" id="topScrollHid">
    <div class="topSocial">
        <div class="row">
            <div class="col-sm-12">
                <div class="footer-sociel">
                    <ul class="topheader">
                        <li class="top-header-newSocial"> <a href="#"><i class="icon-envelope-open"
                                    style="padding-right: 5px;"></i> hellomobiebook@gmail.com</a></li>
                        <li class="top-header-newSocial divideSocialIcon" style="padding-right: 20px !important;"> <a
                                href="#"> <i class="icon-call-in" style="padding-right: 5px;"></i> 91 983 3963 738</a>
                        </li>
                        <li class="top-header-newSocial"> <a href="#"><i class="icon-social-instagram"></i></a></li>
                        <li class="top-header-newSocial"> <a href="#"><i class="icon-social-linkedin"></i></a></li>
                        <li class="top-header-newSocial"> <a href="#"><i class="icon-social-facebook"></i> </a></li>
                        <li class="top-header-newSocial"> <a href="#"><i class="icon-social-twitter"></i></a></li>
                        <li class="top-header-newSocial"> <a href="#"><i class="icon-social-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="header" class="show">
    <div class="left">
        <a id="logo" class="gray" href="#">
            <img class="logoheader" src="../../../assets/img/mobile-book.png" />
        </a>
        <a href="" id="logo-tagline">The Next Gen EBook</a>
        <div class="force-header-height"></div>
    </div>
    <div class="right">
        <div class="force-header-height"></div>
        <div class="item login">
            <div *ngIf="isLogin == false" class="button transparent small" [routerLink]="['/authentication/login']">
                Log in </div>
            <div *ngIf="isLogin == true" class="button transparent small" [routerLink]="['/auth/dashboard/dashboard-view']">
                    Go To Dashboard </div>
        </div>
        <div class="item register">
            <div *ngIf="isLogin == false" class="button green small" [routerLink]="['/authentication/signup']">Register</div>
        </div>
    </div>
</div>