section {
    padding: 80px 0;
}
.overlay {
    position: absolute;
    background: transparent linear-gradient(295deg, #eb0000 0%, #b26968 35%, #808080 80%) 0% 0% no-repeat padding-box;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.85;
}
a, a:active, a:visited {
    font-family: "robotoSlab"; 
}
.newHeaderSection{
    background: #000;
}
.rihghtMenu{
    text-align: right;
    position: relative;
    top: 4px;
}
.rihghtMenu a{
    color:#000;
    font-weight: 700;
}
.registration-form{
    /* width: 30%; */
    background: #fff;
    margin: 30px auto;
    padding: 45px;
    box-shadow: 0px 2px 3px 0px #888888;
}
.registration-form h1{
    font-size: 20px;
    font-weight: 400 !important;
    text-align: cente
}
.inputloginsets{
    padding: 5px 10px !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    line-height: 3.5;
    letter-spacing: 0px !important;
    color: #363636;
    height: calc(1.8em + 12px + 0px) !important;
    min-height: calc(1.8em + 12px + 0px) !important;
    background: #fafafa 0% 0% no-repeat padding-box;
    border: 1px solid #dddddd !important;
    border-radius: 2px !important;
    color: #888888 !important;
    
}
.Mred-submit-btns{
    margin-left: 0px;
    color: #fff;
    border-radius: 4px;
    padding: 8px 25px 9px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
    font-family: "robotoSlab";
    background: #28a745 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    border: none;
    position: relative;
    bottom: -18px;
    cursor: pointer !important;
}
.checkboste{
    position: relative;
    top: -5px;
    left: 5px;
}
.dropdown{
    text-align: right;
}
.dropdown .dropdown-toggle{
    background: none;
    border: none;
    color: #000;
    font-weight: 600;
    position: relative;
    top: 6px;
}
