<div class="newHeaderSection">
    <app-tool-bar></app-tool-bar>
</div>
<div class="container">
    <div class="col-sm-12 col-md-4 col-xs-4 offset-md-4">

        <div class="registration-form">
            <div class="formSectionAll text-center">
                <form [formGroup]="resetForm" method="post" role="form" class="php-email-form mobiboss">
                    <h1>Forgot your password?!</h1>
                    <p>
                        <!-- Don't worry! Resetting your password is easy. Just type in the email you registered to Mobibook and a password reset link will be sent to you. -->
                    </p>
                    <div class="form-group mred-group" style="padding-top: 25px !important;">
                        <div class="input-group">
                            <input type="text" formControlName="email" class="form-control inputloginsets"
                                placeholder="Enter your email" required>
                        </div>
                        <div class="invalid-feedback" *ngIf="f.email?.touched && f.email?.invalid"
                            style="display: block;padding-left: 15px;" required>
                            <span *ngIf="f.email?.errors.required">Email is required *</span>
                        </div>
                    </div>
                    <div class="form-group mred-group">
                        <div class="input-group">

                        </div>
                    </div>

                    <div class="form-group mred-group">

                    </div>

                    <div class="text-center">
                        <button type="submit" class="Mred-submit-btns" (click)="sendResetLink()">Send Link</button>
                    </div>


                    <div class="setsignuppagelink">
                        <p></p>
                    </div>

                    <div>
                        <p>
                            <a [routerLink]="['/']" style="color: #007bff;
                    font-weight: 600;">Back to Login</a>
                        </p>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>


<div class="chartsectionset">
    <div class="imagssetchart">
        <i class="fa fa-comments" aria-hidden="true"></i>
    </div>
</div>