<!-- <div id="main-wrapper"> -->
    <!-- ============================================================== -->
    <!-- Topbar header  -->
    <!-- ============================================================== -->
    <app-header></app-header>
    <!-- ============================================================== -->
    <!-- Left Sidebar --->
    <!-- ============================================================== -->
    <!-- <app-left-menu></app-left-menu> -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="full-screen">
        <div class="container-fluid">
            <!-- <app-browser></app-browser> -->
            <app-display-folder></app-display-folder>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- footer -->
    <app-footer></app-footer>
<!-- </div> -->
