<section id="business" class="banner-section" style="padding-top: 210px;">
    <div class="overlay"></div>
    <div class="bussiness-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <div class="banner-details">
                        <h2>Terms & Condition</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="fullwidthModol">
    <div  class="btnclosemodel"  style="top: 20px;">
        <button type="button"
            class="btn btn-circle btn-success btncloseIcon">
            <i  class="icon-close"></i>
        </button>
    </div>
    <div class="sliderInnerSection">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                 <div class="swiper-slide">
                    <div class="sliderOneAnimationSet">
                        <div class="Logoarea" class="animate__animated animate__zoomInDown">
                            <img src="../../../../assets/img/mobile-book.png">
                        </div>
                        <div class="containTitle">
                            <h4 class="animate__animated animate__zoomInRight animate__delay-1s"> Fine Art Studio Presents </h4>
                        </div>
                        <div class="containTitle">
                            <h3 class="animate__animated animate__zoomInLeft  animate__delay-1s"> 2020 A Love Story </h3>
                        </div>
                    </div>
                </div> 
                <div class="swiper-slide">
                    <div class="slidertwoAnimationSet">
                        <div class="leftTextArea ">
                          <h1 class="animate__animated animate__rollIn animate__delay-3s">
                            I
                            N
                            T
                            R
                            O
                            D
                            U
                            C
                            I
                            N
                            G
                            </h1>
                        </div>
                        <div class="middleTextArea">
                           <div class="middleWarepostion">
                            <h4 class="animated animate__animated animate__fadeInDownBig animate__delay-4s"> The Handsome Dulha
                            </h4>
                            <h3 class="animated animate__animated animate__fadeInUpBig animate__delay-4s"> RAJ
                            </h3>
                           </div>
                        </div>
                        <div class="rightTextArea animated animate__animated animate__bounceIn animate__delay-4s" >
                            <img src="../../../../assets/img/profile.jpg" style="width: 100%;">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slidertwoAnimationSet">
                        <div class="leftTextArea ">
                          <h1 class="animate__animated animate__bounce animate__delay-7s animate__delay-5s">
                            I
                            N
                            T
                            R
                            O
                            D
                            U
                            C
                            I
                            N
                            G
                            </h1>
                        </div>
                        <div class="middleTextArea">
                           <div class="middleWarepostion">
                            <h4 class="animated animate__animated animate__fadeInDownBig animate__delay-8s animate__delay-5s"> The Gorgeous Dulhan
                            </h4>
                            <h3 class="animated animate__animated animate__fadeInUpBig animate__delay-8s animate__delay-5s"> SIMRAN
                            </h3>
                           </div>
                        </div>
                        <div class="rightTextArea animated animate__animated animate__tada animate__delay-8s animate__delay-5s"  >
                            <img src="../../../../assets/img/profile.jpg" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <!-- <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div> -->
        </div>
    </div>
    
</div>