<confirmation-popup></confirmation-popup>
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Manage Coupons</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Coupon</li>
            </ol>
            <button type="button" (click)="addCoupon()" class="btn waves-effect waves-light btn-danger m-l-15"><i
                    class="fa fa-plus-circle"></i> Create
                New</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="card bg-primary">
            <div class="card-body">
                <h5 class="text-light font-medium m-t-10">Total Coupon <i class="fa fa-angle-up font-bold"></i></h5>
                <h3 class="m-t-0 text-light font-medium">{{counponDetail.length}}</h3>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <div class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer p-0">
                        <div class="row" style="margin-right: 0px;margin-left: 0px;">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length">
                                    <label style="padding-left:5px;">Show
                                        <select class="form-control form-control-sm">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                        entries
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_filter">
                                    <label>Search:
                                        <input type="search" class="form-control form-control-sm" placeholder="">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <table class="table table-hover nowrap table-striped">
                            <thead>
                                <tr role="row">
                                    <th>Full Name</th>
                                    <th>Country</th>
                                    <th class="text-center">Quantity</th>
                                    <th class="text-center">Price</th>
                                    <th class="text-center">Status </th>
                                    <th class="text-center">Created On </th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cou of counponDetail">
                                    <td class="sorting_1">
                                        <div class="text-ellipsis">
                                            <a href="javascript:void(0)">{{cou.CouponTitle}}</a>
                                            <span>({{cou.CouponTypeName}})</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-success">
                                            {{cou.CountryName}}({{cou.CurrencySymbol}})
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        {{cou.Quantity}}
                                    </td>

                                    <td class="text-center">
                                        {{cou.CurrencySymbol}} {{getpricetofix(cou.CouponPrice)}}
                                    </td>
                                    <td class="text-center">
                                        <span class="label label-success" *ngIf="cou.IsActive == true">
                                            Active</span>
                                        <span class="label label-danger" *ngIf="cou.IsActive == false">
                                            InActive</span>
                                    </td>
                                    <td class="text-center">
                                        {{cou.CreatedOn | date: dateFormat}} </td>
                                    <td class="text-center">
                                        <button class="btn btn-facebook waves-effect waves-light"
                                            (click)="editCoupon(cou.CouponId)" type="button">
                                            <i class="icon-note"></i>
                                        </button>

                                        <button class="btn btn-facebook waves-effect waves-light"
                                            (click)="confirmation(cou.CouponId)" type="button">
                                            <i class="text-danger ti-trash"></i>
                                        </button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <div class="row" style="margin-right: 0px;  margin-left: 0px;">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info">
                                    Showing 1 to 10 of 57 
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous disabled" >
                                            <a class="page-link"> Previous</a>
                                        </li>
                                        <li class="paginate_button page-item active"><a class="page-link">1</a></li>
                                        <li class="paginate_button page-item "><a class="page-link">2</a></li>
                                        <li class="paginate_button page-item "><a class="page-link">3</a></li>
                                        <li class="paginate_button page-item "><a class="page-link">4</a></li>
                                        <li class="paginate_button page-item "><a class="page-link">5</a></li>
                                        <li class="paginate_button page-item "><a class="page-link">6</a></li>
                                        <li class="paginate_button page-item next"><a class="page-link">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>