<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <div class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer p-0">
                        <div class="row" style="margin-right: 0px;margin-left: 0px;">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-5 col-md-5">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="input-group mb-3">
                                                    <span style="padding-top: 6px; padding-right: 6px;">Select Folder :
                                                    </span>
                                                    <input type="text" class="form-control"
                                                        [(ngModel)]="selectedDirectory" placeholder="Browse Directive"
                                                        aria-label="Browse Directive" aria-describedby="basic-addon2">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary Mred-submit-btns"
                                                            (click)="browse()" type="button">Browse</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-7 col-md-7 text-right">
                                        <div class="row">
                                            <div class="col-2 text-left pt-2">

                                            </div>
                                            <div class="col-10 action-btn-group">
                                                <button type="submit" class="Mred-submit-btns"
                                                    (click)="ProcessAllImage()" [disabled]="isAllProcess == true">
                                                    Process All</button>
                                                <button type="submit" class="btn btn-danger"
                                                    (click)="cancelProcess()">
                                                    Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8 text-left pt-2 pb-2">
                                        <span style="padding-right: 5px;">Choose Audio:</span>
                                        <select style="width: 200px;" [(ngModel)]="selected"
                                            (change)='onOptionsSelected($event)'>
                                            <option *ngFor="let audio of albums" [value]="audio.AudioId">
                                                {{trimStr(audio.Title)}}
                                            </option>
                                        </select>
                                        <span style="padding-right: 5px; padding-left: 5px;">Upload New Audio :</span>
                                        <span style="padding-right: 5px;">
                                            <input type="file" #mp3File (change)="attachAudioFile($event)" />
                                        </span>

                                    </div>
                                    <div class="col-4 text-right pt-2 pb-2">
                                        <!-- Open Folder Button Removed -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="folderDetail.length > 0">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-9">

                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <select class="form-control" (change)="SearchByStatus($event)">
                                                <option *ngFor="let st of statusList" value={{st.Id}}>{{st.Text}}
                                                </option>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <table class="table table-hover nowrap table-bordered">
                            <thead>
                                <tr role="row">
                                    <th>File Name
                                    </th>
                                    <th>Page Type
                                    </th>
                                    <th class="text-center">Email Id
                                    </th>
                                    <th class="text-center">Image Count
                                    </th>
                                    <th class="text-center">Status </th>
                                    <th class="text-center">Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let f of allfolderDetail"
                                    [ngClass]="{'table-info': f.Status === 'In Progress', 'table-warning': f.Status === 'Waiting'}">
                                    <td>
                                        <span title="{{f.FolderName}}"> {{trimStr(f.FolderName)}}
                                        </span>
                                    </td>
                                    <td>
                                        <select>
                                            <option value="Spread">Spread</option>
                                            <option value="Page">Page</option>
                                        </select>
                                    </td>
                                    <td>
                                        <span title="{{f.EmailAddress}}">{{trimStr(f.EmailAddress)}}</span>
                                    </td>
                                    <td class="text-center">
                                        {{f.Counter}}
                                    </td>
                                    <td class="text-center">
                                        <span *ngIf="f.Status === 'Done'" style="color: green;"> SUCCESS</span>
                                        <span *ngIf="f.Status === 'Waiting'" style="color: #b26a00;"> WAITING FOR INTERNET</span>
                                        <span *ngIf="f.Status === 'Invalid'" style="color: red;">
                                            <span style="cursor: pointer;" title="{{f.ErrorDetail}}">FAILED</span>
                                        </span>
                                        <span *ngIf="f.Status !== 'Done'  && f.Status !== 'Invalid' && f.Status !== 'Waiting'"
                                            style="color: gray;"> {{f.Status}}</span>
                                        <span *ngIf="f.Status === 'Invalid'">
                                            <i class="icon-spaces ti-info" (click)="viewMessage(f.ErrorDetail)"></i>
                                        </span>

                                    </td>
                                    <td>
                                        <div>
                                            <button [disabled]="isAllProcess == true" *ngIf="f.Status == 'Open'"
                                                type="submit" class="Mred-submit-btns" (click)="saveEalbumInfo(f)">
                                                Process</button>
                                            <span *ngIf="f.Status === 'Invalid'">
                                                <i class="icon-spaces ti-reload" (click)="reload(f)"></i>
                                            </span>
                                        </div>

                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- QR Background Modal (Bootstrap-styled, controlled by Angular) -->
<div class="modal fade" tabindex="-1" role="dialog" aria-modal="true"
    [ngClass]="{ 'show d-block': qrBgModalOpen }" [attr.aria-hidden]="!qrBgModalOpen"
    *ngIf="qrBgModalOpen">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">QR Background Image</h5>
                <button type="button" class="close" aria-label="Close" (click)="cancelQrBgModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body qr-bg-modal-body">
                <div class="form-group">
                    <label>Select image</label>
                    <input #qrBgFileInput type="file" class="d-none" accept=".png,image/png" (change)="onQrBgFileSelected($event)">

                    <div class="d-flex align-items-center" style="gap: 10px;">
                        <div class="form-control" role="button" tabindex="0"
                            (click)="replaceQrBgImage()" (keydown.enter)="replaceQrBgImage()" (keydown.space)="replaceQrBgImage()"
                            style="display: flex; align-items: center; justify-content: space-between; gap: 10px; cursor: pointer;">
                            <span style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                {{ qrBgSelectedImageName || 'Select image' }}
                            </span>
                            <button *ngIf="qrBgSelectedImageName" type="button" class="btn btn-link p-0"
                                (click)="$event.stopPropagation(); removeSelectedQrBgImage()"
                                title="Remove image" aria-label="Remove image">
                                &times;
                            </button>
                        </div>

                        <button *ngIf="qrBgSelectedImageName" type="button" class="btn btn-xs btn-info qr-replace-btn" (click)="replaceQrBgImage()">Replace Image</button>
                    </div>
                </div>

                <div class="mt-3" *ngIf="qrBgTempPreviewUrl; else noPreview">
                    <label>Preview</label>
                    <div class="text-center qr-bg-preview">
                        <img [src]="qrBgTempPreviewUrl" class="img-fluid" alt="QR background preview">
                    </div>
                </div>
                <ng-template #noPreview>
                    <div class="text-muted">No image selected.</div>
                </ng-template>

                <div class="form-group mt-3">
                    <label style="display: block; margin-bottom: 6px;">Print Barcode</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="qrGenerateBarcode" [(ngModel)]="qrGenerateBarcodeTemp">
                        <label class="form-check-label" for="qrGenerateBarcode">
                            Yes
                        </label>
                    </div>

                    <div class="form-check mt-2">
                        <input class="form-check-input" type="checkbox" id="qrPrintFolderNameBelowBarcode" [(ngModel)]="qrPrintFolderNameBelowBarcodeTemp" [disabled]="!qrGenerateBarcodeTemp">
                        <label class="form-check-label" for="qrPrintFolderNameBelowBarcode">
                            Print folder name below barcode
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="cancelQrBgModal()">Cancel</button>

                <button type="button" class="Mred-submit-btns" (click)="saveQrBgImage()">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade" [ngClass]="{ 'show': qrBgModalOpen }" *ngIf="qrBgModalOpen" (click)="cancelQrBgModal()"></div>