<div class="fullwidthModol">
    <div class="btnclosemodel" style="top: 20px;">
        <button type="button" (click)="closeTemplate()" class="btn btn-circle btn-success btncloseIcon">
            <i class="icon-close"></i>
        </button>
    </div>
    <div class="sliderInnerSection">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="display: block;">
                    <div class="template2">
                        <div class="logoarea animate__animated animate__backInDown">
                            <img src="../../../../assets/img/mobile-book.png">
                        </div>
                        <div class="containTitletemplate2">
                            <h4 class="animate__animated  animate__backInRight animate__delay-1s"> Fine Art Studio
                                Presents </h4>
                        </div>
                    </div>
                    <div class="containTitle">
                        <h3 class="animate__animated animate__backInLeft animate__delay-1s"> 2020 A Love Story </h3>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slidertwoAnimationSet">
                        <div
                            class="leftanimation2 animated animate__animated animate__lightSpeedInLeft animate__delay-4s">
                            <img src="../../../../assets/img/profile.jpg" style="width: 100%;">
                        </div>
                        <div class="rightanimation2">
                            <h1 class="animate__animated animate__flipInX animate__delay-3s">
                                I
                                N
                                T
                                R
                                O
                                D
                                U
                                C
                                I
                                N
                                G
                            </h1>
                            <h2 class="animate__animated animate__lightSpeedInRight animate__delay-3s">
                                The Handsome Dulha
                            </h2>
                            <h3 class="animate__animated animate__fadeInBottomRight animate__delay-3s">
                                RAJ
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slidertwoAnimationSet">
                        <div
                            class="leftanimation2 animated animate__animated animate__fadeInBottomLeft  animate__delay-8s animate__delay-5s">
                            <img src="../../../../assets/img/profile.jpg" style="width: 100%;">
                        </div>
                        <div class="rightanimation2">
                            <h1 class="animate__animated animate__rollIn animate__delay-3s">
                                I
                                N
                                T
                                R
                                O
                                D
                                U
                                C
                                I
                                N
                                G
                            </h1>
                            <h2
                                class="animate__animated animate__fadeInBottomRight animate__delay-8s animate__delay-5s">
                                The Gorgeous Dulhan
                            </h2>
                            <h3 class="animate__animated animate__fadeInTopLeft animate__delay-8s animate__delay-5s">
                                SIMRAN
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="lastpageTemplate">
                        <div class="logolast">
                            <img src="../../../../assets/img/mobile-book.png">
                        </div>
                        <div class="containlast text-center">
                            <h5>Photos & Videos by</h5>
                            <h5>Fine Art Studios</h5>
                            <h5>Mr Hemant Parmar</h5>
                            <h5>+91 989999 99999</h5>
                            <h5>www.fineartstudios.com</h5>
                            <div class="clearfix"> </div>
                            <div class="socialIcons">
                                <ul>
                                    <li>
                                        <a href="#" class="facebookicontem"><i class="icon-social-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="instagramicontem"><i class="icon-social-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="profilelast">
                            <img src="../../../../assets/img/profile.jpg" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <!-- <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div> -->
        </div>
    </div>

</div>