<div class="fullwidthModol" class="isView == true">
    <div class="full widthModel">
        <div class="btnclosemodel" style="z-index: 999;">
            <span data-name="btnClose" title="Close" (click)="closeEalbumPopup()">
                <i class="close material-icons flipbook-icon-material flipbook-menu-btn" title="Close"
                    style="width: 44px; font-size: 28px; color: rgb(238, 238, 238); background: rgba(0, 0, 0, 0.267);">close</i>
            </span>
        </div>
        <div  id="container"  #container></div>
       
    </div>
</div>

