
<div class="newHeaderSection">
   <app-view-toolbar></app-view-toolbar>
</div>
<div class="container final-container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-5">
            <div class="final-card text-center">

                <h1 class="final-title">Arigato</h1>
                <div class="final-subtitle">Thank You</div>

                <button type="button" class="final-view-btn" (click)="viewMobiebook()">
                    <span>View Mobiebook</span>
                    <span class="final-view-icon"><i class="fa fa-book"></i></span>
                </button>

                <div class="final-by" *ngIf="getPhotographerName()">
                    <div class="final-by-label">Photography by</div>
                    <div class="final-by-name">{{getPhotographerName()}}</div>
                </div>

                <div class="final-code" *ngIf="getDisplayCode()">
                    {{getDisplayCode()}}
                </div>

                <!-- <button type="button" class="final-share-btn" (click)="share()">
                    <span>Share</span>
                    <i class="fa fa-share-alt ml-2"></i>
                </button> -->

            </div>
        </div>
    </div>
</div>


