<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Manage Master</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Master</li>
            </ol>
            <button type="button" class="btn btn-dark d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create
                New</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="card bg-primary">
            <div class="card-body">
                <h5 class="text-light font-medium m-t-10">Total Master <i class="fa fa-angle-up font-bold"></i></h5>
                <h3 class="m-t-0 text-light font-medium">250</h3>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <h3 class="card-title">Labs Details</h3>
                            <div class="ml-auto">
                                <button type="button" class="btn btn-info">View All</button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <div class="blocks-table txn-table">
                            <table class="table table-padded m-b-0">
                                <thead>
                                    <tr class="header">
                                        <th>
                                            <div>Master Name</div>
                                        </th>                                       
                                        <th class="hidden-xs">
                                            <div class=" hidden-xs">Created On</div>
                                        </th>
                                        <th class="hidden-xs">
                                            <div class=" hidden-xs">Status</div>
                                        </th>

                                        <th>&nbsp;
                                            <div>&nbsp;</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="d-flex no-block">
                                                <div class="text-ellipsis">
                                                    <a
                                                        href="javascript:void(0)">Country</a>
                                                </div>
                                            </div>
                                           
                                        </td>
                                      
                                        <td class="hidden-xs">
                                            <div>12-NOV-2020 </div>
                                        </td>

                                        <td><i class="text-success fa fa-check"></i></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex no-block">
                                                <div class="text-ellipsis">
                                                    <a
                                                        href="javascript:void(0)">Master 1</a>
                                                </div>
                                            </div>
                                           
                                        </td>
                                      
                                        <td class="hidden-xs">
                                            <div>12-NOV-2020 </div>
                                        </td>

                                        <td><i class="text-success fa fa-check"></i></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex no-block">
                                                <div class="text-ellipsis">
                                                    <a
                                                        href="javascript:void(0)">Master 2</a>
                                                </div>
                                            </div>
                                           
                                        </td>
                                      
                                        <td class="hidden-xs">
                                            <div>15-NOV-2020 </div>
                                        </td>

                                        <td><i class="text-success fa fa-check"></i></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex no-block">
                                                <div class="text-ellipsis">
                                                    <a
                                                        href="javascript:void(0)">Business Type</a>
                                                </div>
                                            </div>
                                           
                                        </td>
                                      
                                        <td class="hidden-xs">
                                            <div>20-NOV-2020 </div>
                                        </td>

                                        <td><i class="text-success fa fa-check"></i></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex no-block">
                                                <div class="text-ellipsis">
                                                    <a
                                                        href="javascript:void(0)">Master 3</a>
                                                </div>
                                            </div>
                                           
                                        </td>
                                       
                                        <td class="hidden-xs">
                                            <div>2-NOV-2020 </div>
                                        </td>

                                        <td><i class="text-success fa fa-check"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="text-center p-t-20 p-b-20">
                        <ul class="list-inline font-12">
                            <li class="text-success"><i class="fa fa-check text-success"></i> Success</li>
                            <li class="text-danger"><i class="fa fa-times text-danger"></i> Failed</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>