<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-5 col-md-5">
                    <div class="imageSectionfooter">
                        <div class="footer-aboutus">
                            <img src="../../../../../assets/img/mobile-book.png">
                        </div>
                        <div class="setSelactionHelp">
                            <p>Talati Apartments, SV Rd, Andheri West, Mumbai - 400058. </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-7 col-md-7">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-6 col-12 footer-links">
                            <div class="settextfloat">
                                <h4>Contact Us</h4>
                                <ul>
                                    <li><a href="#">hellomobiebook@gmail.com</a></li>
                                    <li><a href="#"> Support - +91 983 3963 738 </a></li>
                                    <li> <a href="#">Office - +91 983 3963 738</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 footer-links ">
                            <div class="settextfloat">
                                <h4>Information</h4>
                                <ul>
                                    <li> <a [routerLink]="['/home/privacypolicy']">Privacy Policy </a></li>
                                    <li> <a [routerLink]="['/home/termscondition']">Terms &amp; Conditions </a></li>
                                    <li> <a [routerLink]="['/home/faq']">FAQ</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12 footer-links ">
                            <div class="settextfloat">
                                <h4>Links</h4>
                                <ul>
                                    <li> <a [routerLink]="['/home/aboutus']">About Us</a></li>
                                    <li> <a [routerLink]="['/home/contactus']"  >Contact Us</a></li>
                                    <li> <a [routerLink]="['/home/howitwork']" >How It Works</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lastsection">
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 footer-links">
                        <p class="settagfooter">© Copyright Secure. All rights reserved.</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 footer-sociel">
                        <ul class="foot_iconset">
                            <li><a href="#"><i class="icon-social-instagram"></i></a></li>
                            <li><a href="#"><i class="icon-social-linkedin"></i> </a></li>
                            <li><a href="#"><i class="icon-social-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-social-twitter"></i></a></li>
                            <li><a href="#"> <i class="icon-social-youtube"></i> </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>